    // Base style for mobile

    .contact {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: rgb(0, 175, 185);
        padding: 2rem;
        text-align: center; // Center the text within the .contact section
        min-height: unset; // Override the min-height
        transition: height 0.3s ease; // Add a transition for smooth collapsing

        h1 {
            color: rgb(0, 129, 167);
            font-size: 3em;
        }
    }


    .inputs {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        background-color: rgb(224, 245, 243);
        text-align: center;
        padding: 1rem;
        width: 100%;
        font-size: 1.2em;
        height: 83vh;
        overflow: hidden; // add this line
        margin-top: 1em;

        .form {
            height: 85vh;

            input {
                width: 90%;
                align-items: center;
                padding: 0.4em;
                outline: none;
                border: none;

            }

            button {
                background-color: rgb(240, 113, 103);
                cursor: pointer;
                border: 1px solid rgb(0, 129, 167);
                color: white;
                text-transform: uppercase;
                margin: 1.5rem auto 0;
                display: block;
                justify-content: center; // Center horizontally
                align-items: center; // Center vertically
                margin-top: 0.8rem;
                width: 40%;
                height: 6%;
            }

            .success {
                color: rgb(240, 113, 103);
                font-weight: bold;
                margin-top: 1.4em;

                font-size: 0.7em;

            }

            .error {

                color: rgb(240, 113, 103);
                font-weight: bold;
                margin-top: 1.4em;

                font-size: 0.4em;

            }
        }

    }



    label {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.4em;
        outline: none;
        border: none;
        color: rgb(0, 129, 167);
    }

    .message {
        height: 45%;
        width: 90%;
    }


    .contact.collapsed {
        height: 15vh; // Adjust this value to fit the "Projects" title
        display: flex; // Turn the .skills into a flex container
        align-items: center; // Vertically center the content
        justify-content: center; // Horizontally center the content
    }

    .contact.collapsed .inputs {
        display: none; // Hide the content
    }


    //Small Mobile
    @media (max-width: 375px) {

        .contact {
            width: 100%;
            height: 100vh;

            padding: 2rem;


            h1 {
                font-size: 2.5em;
            }
        }



        .inputs {

            padding: 1rem;
            width: 100%;
            font-size: 1.1em;
            height: 80vh;

            .form {
                height: 80vh;

                input {
                    width: 90%;
                    padding: 0.4em;


                }

                button {
                    margin: 1.5rem auto 0;
                    margin-top: 1rem;
                    width: 40%;
                    height: 7%;
                    font-size: 0.6em;
                }

                .success {
                    margin-top: 1em;
                    font-size: 0.55em;

                }
            }

        }

        .message {
            height: 35%;
            width: 90%;
        }
    }

    //Tablet Portrait

    @media (min-width: 481px) and (max-width: 768px) {

        //Tablet Portrait

        .contact {
            width: 100%;
            height: 100vh;
            padding: 2rem;



            h1 {
                font-size: 3.5em;
            }
        }

        .inputs {

            padding: 1rem;
            width: 90%;
            font-size: 1.7em;
            height: 80vh;

            .form {
                height: 80vh;

                input {
                    width: 80%;
                    padding: 0.6em;
                    font-size: 0.7em;


                }

                button {
                    margin: 1.5rem auto 0;
                    margin-top: 1rem;
                    width: 30%;
                    height: 6%;
                    font-size: 0.6em;
                }

                .success {
                    margin-top: 2em;
                    font-size: 0.7em;

                }
            }

        }


        .message {
            height: 35%;
            width: 80%;
            font-size: 0.7em;

        }



    }

    //Tablet Landscape
    @media (min-width: 769px) and (max-width: 1023px) {

        .contact {
            width: 100%;
            height: 100vh;
            padding: 2rem;



            h1 {
                font-size: 3.5em;

            }
        }

        .inputs {

            padding: 1rem;
            width: 90%;
            font-size: 1.7em;
            height: 80vh;

            .form {
                height: 80vh;

                input {
                    width: 80%;
                    padding: 0.6em;
                    font-size: 0.7em;


                }

                button {
                    margin: 1.5rem auto 0;
                    margin-top: 1rem;
                    width: 30%;
                    height: 6%;
                    font-size: 0.7em;
                }

                .success {
                    margin-top: 2em;
                    font-size: 0.7em;

                }
            }

        }


        .message {
            height: 35%;
            width: 80%;
            font-size: 0.7em;

        }
    }

    //Smaller desktop
    @media (min-width: 1024px) and (max-width: 1280px) {

        .contact.collapsed {
            display: block; // Turn the .skills into a flex container
            height: 100%;
        }

        .contact.collapsed .inputs {
            display: flex; // Hide the content
        }

  

        .contact {
            width: 100%;
            height: 90%;
            padding: 2rem;



            h1 {
                font-size: 3.5em;
                margin-bottom: 2rem; // Add some space below the title
            }
        }

        .inputs {
            width: 60%; // Slightly wider on smaller screens
            font-size: 1.2em; // Adjust font size for readability
    
            .form {
                input, button {
                    width: 80%; // Increase width for smaller screens
                    padding: 0.5em; // Adjust padding for comfort
                    font-size: 0.8em; // Slightly larger font size for readability
                }
    
                button {
                    margin-top: 1rem; // Adjust margin for spacing]
                    margin: 1.5rem auto 0;
                    width: 30%;
                    height: 6%;
                    font-size: 0.7em;
                }
    
                .success, .error {
                    font-size: 0.6em; // Adjust font size for smaller screens
                }
            }
        }
    
        .message {
            width: 80%; // Adjust width for smaller screens
            font-size: 0.6em; // Adjust font size
        }
    }


        .message {
            height: 35%;
            width: 70%;
            font-size: 0.7em;

        }
    


    //Normal Desktop
    @media (min-width: 1281px) {

        .contact.collapsed {
            display: block; // Turn the .skills into a flex container
            height: 100%;
        }

        .contact.collapsed .inputs {
            display: flex; // Hide the content
        }



        .contact {
            width: 100%;
            height: 100%;
            padding: 2rem;


            h1 {
                font-size: 3.5em;
                margin-bottom: 2rem; // Add some space below the title
            }

        }

        .inputs {

            padding: 1rem;
            width: 50%;
            font-size: 1.4em;

            .form {
                height: 70vh;

                input {
                    width: 70%;
                    padding: 0.6em;
                    font-size: 0.7em;


                }

                button {
                    margin: 1.5rem auto 0;
                    margin-top: 1rem;
                    width: 20%;
                    height: 6%;
                    font-size: 0.7em;
                }

                .success {
                    margin-top: 1em;
                    font-size: 0.7em;

                }
            }

        }


        .message {
            height: 35%;
            width: 70%;
            font-size: 0.7em;

        }
    }