    // Base style for mobile

    .gameSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      /* Ensure no padding */
      box-sizing: border-box;
      /* Ensure padding and border are included in the element's total width and height */
      width: 88vw;
      /* Full viewport width */
      height: 70%;
      /* Full viewport height */
      padding-right: 0.2em;
    }
    
    .background {
      width: 85vw;
      /* Full viewport width */
      height: 70%;
      /* Full viewport height */
      background-image: url(../assets/game/view2.jpg);
      background-size: cover;
      box-sizing: border-box;
      /* Ensure padding and border are included in the element's total width and height */
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../assets/game/background.png);
      background-size: cover;
      border: 0.1em solid black;
      margin: auto;
      overflow: hidden;
      /* change from visible to hidden */
      position: relative;

      width: 90%;
      cursor: url('../assets/game/aim.png') 50% 50% / 50% 50%, pointer;
      touch-action: manipulation;
      height: 55vh;
    }
    
    
    
    .game-title {
      
      padding-bottom: 0.6em;

      h1 {
        font-size: 32px;
        color: yellow;
        text-align: center;
      }
    }
    

    .gameStats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      color: red;
      position: static;
      top: 0;
      left: 0;
      text-align: center;
      background-color: black;
      width: 90%;
      padding: 0.3em;
      font-size: 0.35em;

      p{
          margin-bottom: 0.6em;
          font-size: 1.1em;
      }
    }


    .target {
      cursor: pointer;
    }
    
    .gameStats div {
      flex-grow: 1;
      padding-top: 0.5em;
    }
    
    .gameButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 
       
      .btn {
        width: 100% ;
        /* Adjust as necessary */
        margin: 0.4em 0;
        /* Gives 10px vertical space between buttons */
      }
    }
    
    .startButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      text-align: center;

      button{

      background-color: rgb(240, 113, 103);
      border: none;
      padding: 1em 1.5em;
      cursor: pointer;
      font-size: 0.35em;
      border-radius: 0.8em;
      color: white;

      &:hover {
        background-color: #e0e0e0;
      }
  
    
    }
  }
    
    @keyframes moveDuck {
      0% {
        transform: translateX(0) translateY(0);
      }
    
      25% {
        transform: translateX(25vw) translateY(-5vh);
      }
    
      50% {
        transform: translateX(50vw) translateY(0);
      }
    
      75% {
        transform: translateX(75vw) translateY(5vh);
      }
    
      100% {
        transform: translateX(100vw) translateY(0);
    
      }
    }
    
    .duck {
      z-index: 10;
      background: url('../assets/game/duck.png');
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: top 1s ease-in-out;

      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.75s;
      /* Adjust this based on desired speed */
      background-repeat: no-repeat;
      width: 80px;  
      height: 60px; 
    }
    
    
    .carrot {
      /* carrot target */
      width: 70px;
      height: 70px;
      z-index: 10;
      background: url('../assets/game/carrot.png');
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      margin: 2px;
      /* Adjust this based on desired speed */
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: top 1s ease-in-out;

      animation: moveDuck 4.5s linear infinite;
      animation-duration: 2s;
      /* Adjust this based on desired speed */
      background-repeat: no-repeat;

    }
    
    .meat {
      /* meat target */
      z-index: 10;
      background: url('../assets/game/meat.png');
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      margin: 2px;

      /* Adjust this based on desired speed */
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: top 1s ease-in-out;
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.5s;
      /* Adjust this based on desired speed */
      animation-fill-mode: forwards;
      background-repeat: no-repeat;
      width: 80px;  
      height: 60px; 
    }
    
    .instructions {

      background: rgb(0, 175, 185);
      justify-content: space-evenly;
      text-align: center;
      color: black;
      border-radius: 5%;
      position: absolute;
      border: black solid 3px;

      height: 85%;
      width: 85%;
      padding: 0.5em;
    }
    
    .instructions p {
      color: black;
      font-size: 0.4em;
      margin-bottom: 0.1em;
    }
    
    .instructions h2 {
      color: black;
      font-size: 0.7em;
      margin-bottom: 0.8em;
    }
    
    .instructions button {
      border-radius: 0.5em;
      font-weight: bold;
      font-size: 0.65em;
      margin-top: 1em;
      width: 50%;
      height: 10%;
    }
    
    .gameover {

      height: 70%;
      width: 80%;
  
      padding: 0.2em;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: rgb(0, 175, 185);
      text-align: center;
      color: black;
      border-radius: 5%;
      position: absolute;
      border: black solid 3px;
      opacity: 0.8;
  
      h2{
        font-size: 0.7em;
        color: black;
      }
  
      h3{
        font-size: 0.5em;
      }
  
      p{
        font-size: 0.5em;
        color: black;
      }
  
      .btn{
        width: 50%;
        height: 10%;
        border-radius: 0.5em;
        font-size: 0.65em;
        margin-top: 0.4em;
        font-weight: bold;
      }
  
    }
    
    .scoreSection {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
    



  //Small Mobile
  @media (max-width: 375px) {

    .gameSection {

      width: 88vw;
      height: 600%;

    }
    
    .background {
      width: 85vw;
      height: 600%;
    }

    .container {

      width: 90%;
      height: 50vh;
    }

    .game-title {
      
      padding-bottom: 0.6em;

      h1 {
        font-size: 0.8em;
      }
    }

    .instructions {
      padding: 0.5em;
    }
    
    .instructions p {
      font-size: 0.35em;
      margin-bottom: 0.1em;
    }
    
    .instructions h2 {
      font-size: 0.6em;
      margin-bottom: 0.5em;
    }
    
    .instructions button {
      border-radius: 0.5em;
      font-size: 0.55em;
      margin-top: 0.8em;

    }

    .gameover {

      height: 80%;
      width: 80%;
      padding: 0.2em;
  
      h2{
        font-size: 0.6em;
      }
  
      h3{
        font-size: 0.5em;
      }
  
      p{
        font-size: 0.45em;
      }
  
      .btn{
        font-size: 0.55em;
        margin-top: 30px;
      }
  
    }

    .duck {
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.75s;
      width: 70px;  
      height: 50px; 
    }
    
    
    .carrot {
      /* carrot target */
      width: 60px;
      height: 60px;
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 2s;

    }
    
    .meat {


      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.5s;
      width: 70px;  
      height: 50px; 
    }


  }

  //Tablet Portrait

  @media (min-width: 481px) and (max-width: 768px) {

      //Tablet Portrait
      .gameSection {

        width: 88vw;
        height: 70%;
  
      }
      
      .background {
        width: 85vw;
        height: 70%;
      }
  
      .container {
  
        width: 90%;
        height: 55vh;
      }
  
      .game-title {
        
        padding-bottom: 0.6em;
  
        h1 {
          font-size: 1.4em;
        }
      }

      .gameStats {
        width: 90%;
        padding: 0.3em;
        font-size: 0.5em;
  
        p{
            margin-bottom: 0.6em;
   
        }
      }
  
      .instructions {
        padding: 0.5em;
      }
      
      .instructions p {
        font-size: 0.6em;
        margin-bottom: 0.1em;
      }
      
      .instructions h2 {
        font-size: 1em;
        margin-bottom: 0.8em;
      }
      
      .instructions button {
        border-radius: 0.5em;
        font-size: 0.7em;
        margin-top: 2em;
        width: 30%;
  
      }
  
      .gameover {
  
        height: 60%;
        width: 70%;
        padding: 0.2em;
    
        h2{
          font-size: 0.8em;
        }
    
        h3{
          font-size: 0.6em;
        }
    
        p{
          font-size: 0.55em;
        }
    
        .btn{
          font-size: 0.5em;
          margin-top: 1em;
          width: 40%;
        }
    
      }

          
    .gameButtons {
    
      .btn {
        width: 45% ;
        /* Adjust as necessary */

        font-size: 0.65em;
      }
    }
  
      .duck {
        animation: moveDuck 4.5s linear infinite;
        animation-duration: 1.75s;
        width: 90px;  
        height: 70px; 
      }
      
      
      .carrot {
        /* carrot target */
        width: 80px;
        height: 80px;
        animation: moveDuck 4.5s linear infinite;
        animation-duration: 2s;
  
      }
      
      .meat {
  
  
        animation: moveDuck 4.5s linear infinite;
        animation-duration: 1.5s;
        width: 90px;  
        height: 70px; 
      }

      .startButtons {
        width: 10em;
        button{

          font-size: 0.45em;
          border-radius: 0.8em;
        
        }
    
      
      }

  }

  //Tablet Landscape
  @media (min-width: 769px) and (max-width: 1023px) {
    .gameSection {

      width: 88vw;
      height: 75%;

    }
    
    .background {
      width: 85vw;
      height: 75%;
    }

    .container {

      width: 90%;
      height: 55vh;
    }

    .game-title {
      
      padding-bottom: 0.8em;

      h1 {
        font-size: 1.6em;
      }
    }

    .gameStats {
      width: 90%;
      padding: 0.3em;
      font-size: 0.5em;

      p{
          margin-bottom: 0.6em;
 
      }
    }

    .instructions {
      padding: 0.5em;
    }
    
    .instructions p {
      font-size: 0.6em;
      margin-bottom: 0.1em;
    }
    
    .instructions h2 {
      font-size: 1em;
      margin-bottom: 0.8em;
    }
    
    .instructions button {
      border-radius: 0.5em;
      font-size: 0.7em;
      margin-top: 2em;
      width: 30%;

    }

    .gameover {

      height: 60%;
      width: 70%;
      padding: 0.2em;
  
      h2{
        font-size: 0.8em;
      }
  
      h3{
        font-size: 0.6em;
      }
  
      p{
        font-size: 0.55em;
      }
  
      .btn{
        font-size: 0.5em;
        margin-top: 1em;
        width: 40%;
      }
  
    }

        
  .gameButtons {
  
    .btn {
      width: 45% ;
      /* Adjust as necessary */

      font-size: 0.6em;
    }
  }

    .duck {
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.75s;
      width: 90px;  
      height: 70px; 
    }
    
    
    .carrot {
      /* carrot target */
      width: 80px;
      height: 80px;
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 2s;

    }
    
    .meat {


      animation: moveDuck 4.5s linear infinite;
      animation-duration: 1.5s;
      width: 90px;  
      height: 70px; 
    }

    .startButtons {
      width: 10em;

      button{

        padding: 1em 1.5em;
        font-size: 0.45em;
        border-radius: 0.8em;

      }
  
    
    }


  }

  //Smaller desktop
  @media (min-width: 1024px) and (max-width: 1280px) {

    .gameSection {

      width: 60vw;
      /* Full viewport width */
      height: 85vh;
      /* Full viewport height */
      padding-right: 0.2em;
    }

    .background {

      width: 60vw;
      /* Full viewport width */
      height: 85vh;
      /* Full viewport height */

    }

    .container {

      width: 80%;
      height: 75%;

    }

        
    .game-title {
      
      padding-bottom: 0.6em;

      h1 {
        font-size: 1.7em;

      }
    }


    .gameStats {

      width: 80%;
      padding: 0.3em;
      font-size: 0.45em;
      height: 10%;

      p{
          margin-bottom: 0.6em;
          font-size: 1.1em;
      }
    }

    .gameStats div {
      padding-top: 0.5em;
    }
    
    .gameButtons {

      gap: 10px;
       
      .btn {
        width: 100% ;
        /* Adjust as necessary */
        margin: 0.4em 0;
        /* Gives 10px vertical space between buttons */
      }
    }

    .startButtons {
      gap: 5px;

    }

    .duck {
      width: 110px;
      height: 80px;
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 3s;
    }
    
    
    .carrot {
      /* carrot target */
      width: 70px;
      height: 70px;
      animation: moveDuck 6.5s linear infinite;
      animation-duration: 5s;

    }
    
    .meat {
      /* meat target */
      width: 70px;
      height: 70px;
      animation: moveDuck 3.5s linear infinite;
      animation-duration: 3s;

    }

    .instructions {

      height: 65%;
      width: 65%;
      padding: 0.5em;
    }
    
    .instructions p {
      font-size: 0.45em;
      margin-bottom: 0.1em;
    }
    
    .instructions h2 {
      font-size: 0.7em;
      margin-bottom: 0.8em;
    }
    
    .instructions button {
      border-radius: 0.5em;
      font-size: 0.65em;
      margin-top: 1em;
      width: 50%;
      height: 10%;
    }
    
    .gameover {

      height: 65%;
      width: 65%;
  
      padding: 0.2em;

      h2{
        font-size: 0.8em;

      }
  
      h3{
        font-size: 0.6em;
      }
  
      p{
        font-size: 0.55em;

      }
  
      .btn{
        width: 35%;
        height: 10%;
        border-radius: 0.5em;
        font-size: 0.65em;
        margin-top: 0.4em;

      }


  }
}



  

  //Normal Desktop
  @media (min-width: 1281px) {

    .gameSection {

      width: 55vw;
      /* Full viewport width */
      height: 85vh;
      /* Full viewport height */
      padding-right: 0.8em;
    }

    .background {

      width: 55vw;
      /* Full viewport width */
      height: 85vh;
      /* Full viewport height */

    }

    .container {

      width: 80%;
      height: 75%;

    }

        
    .game-title {
      
      padding-bottom: 0.6em;

      h1 {
        font-size: 1.7em;

      }
    }


    .gameStats {

      width: 80%;
      padding: 0.3em;
      font-size: 0.45em;
      height: 10%;

      p{
          margin-bottom: 0.6em;
          font-size: 1.1em;
      }
    }

    .gameStats div {
      padding-top: 0.5em;
    }
    
    .gameButtons {

      gap: 10px;
       
      .btn {
        width: 100% ;
        /* Adjust as necessary */
        margin: 0.4em 0;
        /* Gives 10px vertical space between buttons */
      }
    }

    .startButtons {
      gap: 5px;

    }

    .duck {
      width: 110px;
      height: 80px;
      animation: moveDuck 4.5s linear infinite;
      animation-duration: 3s;
    }
    
    
    .carrot {
      /* carrot target */
      width: 70px;
      height: 70px;
      animation: moveDuck 6.5s linear infinite;
      animation-duration: 5s;

    }
    
    .meat {
      /* meat target */
      width: 70px;
      height: 70px;
      animation: moveDuck 3.5s linear infinite;
      animation-duration: 3s;

    }

    .instructions {

      height: 65%;
      width: 65%;
      padding: 0.5em;
    }
    
    .instructions p {
      font-size: 0.45em;
      margin-bottom: 0.1em;
    }
    
    .instructions h2 {
      font-size: 0.7em;
      margin-bottom: 0.8em;
    }
    
    .instructions button {
      border-radius: 0.5em;
      font-size: 0.65em;
      margin-top: 1em;
      width: 50%;
      height: 10%;
    }
    
    .gameover {

      height: 70%;
      width: 80%;
  
      padding: 0.2em;

      h2{
        font-size: 0.7em;

      }
  
      h3{
        font-size: 0.5em;
      }
  
      p{
        font-size: 0.5em;

      }
  
      .btn{
        width: 50%;
        height: 10%;
        border-radius: 0.5em;
        font-size: 0.65em;
        margin-top: 0.4em;

      }


  }


  }
