.gameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0; 
}

.background {
  width: 100vh;
  background-image: url(../assets/game/view2.jpg);
  background-size: cover; /* this will scale the image to cover the entire .background area */
}

.game-title h1 {
  color: yellow;
  font-size: 40px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/game/background.png);
  background-size: cover;
  width: 80%;
  height: 77vh;
  border: 5px solid black;
  margin: auto;
  overflow: hidden; /* change from visible to hidden */
  position: relative;
  cursor: url('../assets/game/aim.png'), pointer;
}

.gameStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: red;
  position: static;
  top: 0;
  left: 0;
  text-align: center;
  background-color: black;
}

.gameStats div {
  flex-grow: 1;
}

.gameButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  


  .btn {
    width: 100% !important; /* Adjust as necessary */
    margin: 10px 0; /* Gives 10px vertical space between buttons */
  }
}

.startButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  
}

@keyframes moveDuck {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(25vw) translateY(-5vh);
  }
  50% {
    transform: translateX(50vw) translateY(0);
  }
  75% {
    transform: translateX(75vw) translateY(5vh);
  }
  100% {
    transform: translateX(100vw) translateY(0);
    
  }
}

.duck {
  width: 110px;
  height: 80px;
  z-index: 10;
  background: url('../assets/game/duck.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  // margin: 2px;
  animation: moveDuck 4.5s linear infinite;
  animation-duration: 3s; /* Adjust this based on desired speed */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;
}


.carrot {
  /* carrot target */
  width: 70px;
  height: 70px;
  z-index: 10;
  background: url('../assets/game/carrot.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  margin: 2px;
  animation: moveDuck 6.5s linear infinite;
  animation-duration: 5s; /* Adjust this based on desired speed */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;
}

.meat {
  /* meat target */
  width: 70px;
  height: 70px;
  z-index: 10;
  background: url('../assets/game/meat.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  margin: 2px;
  animation: moveDuck 3.5s linear infinite;
  animation-duration: 3s; /* Adjust this based on desired speed */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;
}

.instructions {
  height: 70%;
  width: 75%;
  background: rgb(0, 175, 185);
  padding: 40px;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  border-radius: 5%;
  position: absolute;
  border: black solid 3px;
}

.instructions p {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.instructions h2 {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
}

.instructions button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.gameover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 60%;
  background: rgb(0, 175, 185);
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 5%;
  position: absolute;
  border: black solid 3px;
  opacity: 0.8;
}

.scoreSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.gameover h2 {
  color: black;
  font-size: 40px;
}

.gameover h3 {
  color: black;
  font-size: 28px;
}

.gameover p {
  color: black;
  font-size: 24px;
}

.gameover button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 735px) {


  .gameSection > * {
    transform: scaleX(0.9) scaleY(0.8);
    padding: 0 5%; 
    width: 110%;
    height: 100%;
}

.game-title  {
  padding-bottom: 20px;

 h1 {
  font-size: 38px;
}
}

.background {
  height: 110%;

}

.container {
  width: 100%;
  cursor: url('../assets/game/aim.png') 50% 50% / 50% 50%, pointer;
  touch-action: manipulation;
}

.target {
  cursor: pointer;
}

.gameStats {

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  padding: 5px;
  font-size: 16px;
  align-items: center; /* It's already there, just ensuring */
  padding-top: 20px; 


}

.instructions 
{
 
    height: 80%;
    width: 85%;
    background: rgb(0, 175, 185);
    padding: 40px;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    border-radius: 5%;
    position: absolute;
    border: black solid 3px;
  
  p {

  font-size: 14px;
  margin-bottom: 12px;
}

button{
  width: 140px;
    height: 40px;
}

}

.gameover {

  height: 80%;
  width: 80%;

  padding: 10px;

}

.duck {
  animation: moveDuck 4.5s linear infinite;
  animation-duration: 1.75s; /* Adjust this based on desired speed */

  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;

  

}

.carrot {

  z-index: 10;
  animation: moveDuck 4.5s linear infinite;
  animation-duration: 2s; /* Adjust this based on desired speed */

  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;
}

.meat {

  z-index: 10;
  animation: moveDuck 4.5s linear infinite;
  animation-duration: 1.5s; /* Adjust this based on desired speed */

  animation-fill-mode: forwards;
  transition: top 1s ease-in-out;
}



}