    
.background {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/game/view2.jpg);
    overflow: hidden;
   
}

.Title {
    color: yellow;
    font-size: 40px;
    text-align: center;
  }

  .container {
    background-image: url(../assets/game/background.png);
    width: 1000px;
    height: 800px;
    border: 5px solid black;
    display: flex; /* changed */
    justify-content: center; /* changed */
    align-items: center; /* changed */
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: url('../assets/game/aim.png'), pointer;
  }

  .gameStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }

  .gameStats div {
    flex-grow: 1;
}

.gameButtons{
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    text-align: center;
    width: 50%;
    height: 50%;
    
  }
  
  .gameButtons button {
    display: inline-block;
    width: 200px;
    height: 100px;
  }

  .duck { /* duck target */
    width: 100px;
    height: 70px;
    z-index: 10;
    background: url('../assets/game/duck.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    margin: 2px;
  
  }
  
  .carrot { /* carrot target */
    width: 70px;
    height: 70px;
    z-index: 10;
    background: url('../assets/game/carrot.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    margin: 2px;
  
  }
  
  .meat { /* meat target */
    width: 70px;
    height: 70px;
    z-index: 10;
    background: url('../assets/game/meat.png');
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    margin: 2px;
  }
  
  .instructions { /* Instuctions div */
    height: 60%;
    width: 65%;
    background: rgb(0, 175, 185);
    padding: 40px;
    display: none;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    border-radius: 5%;
    position: absolute;
    border: black solid 3px;
  }
  
  .instructions p { /* Instructions text */
    color:  black;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .instructions h2 { /* Instructions text */
    color: black;
    font-size: 34px;
    margin-bottom: 30px;
  }

  .instructions button{
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
  }

  .gameover { /* Game over display div */
    height: 60%;
    width: 60%;
    background: rgb(0, 175, 185);
    padding: 10px;
    display: none;
    text-align: center;
    color: black;
    border-radius: 5%;
    position: absolute;
    border: black solid 3px;
    opacity: 0.8;
  }
  
  .gameover h2 { /* Game over text styling */
    color: black;
    font-size: 34px;
  }
  
  .gameover button{ /* restart button */
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
  }
