.sections {
  width: 100%;
  background: rgb(224, 245, 243);
  overflow: hidden;
  transition: height 0.3s ease;
  height: 100vh;
}

.section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem;
  background-color: rgb(255, 255, 255);
}

.section__img img {
  margin-top: 1rem;
  width: 520px;
  height: 600px;
  padding: 10px;
  object-fit: cover;
}

.section__content {
  margin: 0 auto;
  line-height: 50px;
  text-align: center;

  h1 {
    color: rgb(240, 113, 103);
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 3.25rem;
  }

  p {
    display: block;
    font-weight: bolder;
    color: rgb(0, 175, 185);
    border-bottom: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    padding: 6px;
    margin-block: 7px;
  }
}
  
  @media (max-width: 840px) {

    .sections {
        height: 100vh;
      }

    .sections.collapsed {
      height: 35vh; // Adjust this value to fit the "About Me" title
    }
  
    .sections.collapsed .section__content p {
      display: none; // Hide the content
    }
  
    .section__img img {
      width: 320px;
      height: 240px;
      padding: 2px;
      object-fit: cover;
    }
  
    .section__container {
      flex-direction: column;


  
      h1 {
        margin-bottom: 1em;

      }
  
      p {
        font-size: 24px;
        margin-block: 5px;
        padding: 2px;
        line-height: 55px;
      }
    }
  }
  
  @media (max-width: 390px) {

    .sections {
      height: auto;
    }
    .section__container {
  
      h1 {
        font-size: 44px;
        margin-bottom: 0.5rem;

      }
  
      p {
        font-size: 14px;

        line-height: 28px;
      }
    }
  
    .section__img img {
      width: 250px;
      height: 150px;
      padding: 2px;
      object-fit: cover;
    }

    .sections.collapsed {
      height: 40vh; // Adjust this value to fit the "About Me" title
    }
  }

  
  