    // Base style for mobile

    .skills {
        width: 100%;
        background: rgb(254, 217, 183);
        overflow: hidden;
        height: 100vh;
        min-height: unset; // Override the min-height
        transition: height 0.3s ease; // Add a transition for smooth collapsing
    }

    .skills.collapsed {
        height: 15vh;
        overflow: hidden; 
        display: flex;              // Turn the .skills into a flex container
        align-items: center;       // Vertically center the content
        justify-content: center;   // Horizontally center the content

    }

    .skills.collapsed .skill__content p {
        display: none;
    }

    .skill__container {
        flex-direction: column;
        margin: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: rgb(0, 129, 167);
            text-transform: uppercase;
            font-size: 3em;

        }
    }


    .skill__content {
        margin: 0 auto;
        line-height: 2em;
        text-align: center;
        margin-top: 1em;
    
    
        p {
            font-weight: bolder;
            color: rgb(240, 113, 103);
            border-bottom: 1px solid rgb(0, 0, 0);
            cursor: pointer;
            box-shadow: 2px 2px 15px rgb(0, 0, 0);
            padding: 1.5em;
            margin-block: 0.5em;
            background-color: white;
            font-size: 0.9em;
        }
    }





    //Small Mobile
    @media (max-width: 375px) {

        .skill__container {

    
            h1 {
                font-size: 2.5em;
    
            }
        }


    }

    //Tablet Portrait

    @media (min-width: 481px) and (max-width: 768px) {

        //Tablet Portrait
        .skill__container {
            margin: 1.5rem;

            h1 {
                font-size: 3.5em;
            }
        }
    
    
        .skill__content {
            line-height: 2.2em;


        
            p {

                padding: 1.5em;
                margin-block: 0.5em;
                font-size: 1.5em;
            }

        }

    }

    //Tablet Landscape
    @media (min-width: 769px) and (max-width: 1023px) {

        .skill__container {
            margin: 1.5rem;
            h1 {
                font-size: 3.7em;
            }
        }
    
    
        .skill__content {
            line-height: 2.4em;


        
            p {

                padding: 1.7em;
                margin-block: 0.5em;
                font-size: 1.7em;
            }

        }


    }

    //Smaller desktop
    @media (min-width: 1024px) and (max-width: 1280px) {

        .skills.collapsed {     
            height: 100vh; 
        }
    
        .skills.collapsed .skill__content p {
            display: block; 
        }



            .skill__container {
                margin: 1.5rem;
                h1 {
                    font-size: 3.5em;
                }
            }
        
        
            .skill__content {
                line-height: 2.2em;
    

            
                p {
    
                    padding: 1.7em;
                    margin-block: 0.5em;
                    font-size: 1.1em;
                }
    
            }

    }

  
  
    

    //Normal Desktop
    @media (min-width: 1281px) {

        .skills.collapsed {     
            height: 100vh; 
        }
    
        .skills.collapsed .skill__content p {
            display: block; 
        }



            .skill__container {
                margin: 1.5rem;
                h1 {
                    font-size: 4em;
                    margin-bottom: 2.25rem;
                }
            }
        
        
            .skill__content {
                line-height: 2.8em;
    

            
                p {
    
                    padding: 1.7em;
                    margin-block: 0.5em;
                    font-size: 1em;
                }
    
            }


    }



    